@font-face {
  font-family: "SohneBreitExtrafettKursiv";
  src: url("Assets/Fonts/TestSohneSchmal-Fett-BF663d89cadad5a.otf") format("opentype");
  font-weight: 900;
}


body{
    font-family: 'SohneBreitExtrafettKursiv', sans-serif;
    height: 100%;
    background-color: #151E2E;
    background-attachment: fixed;
    margin: 0;
    height: 200vh; /* allows scrolling */
    overflow-x: hidden;
}


.wrapper{
    margin: -10px;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    color: white;
    height: 100%;
    h1,a{
        font-size: 35px;
        transform: scaleX(1.3);
    }
    .left{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    img{
        width: 65px;    
        height: auto;
    }
}


a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a:hover{
    color: rgb(176 120 255);
    font-weight: 700;
}

/*  Move Sideways */
.hero-scroll-area {
    height: 370vh; /* full background visible before feature appears */
}

.hero {
    position: sticky;
    top: 0;
    width: 200vw;
    height: 100vh;
    background-image: url(Assets/Images/Intro.png);
    opacity: 85%;
    background-size: cover;
    background-position: left center;
    display: flex;
    align-items: center;
    padding-left: 200px;
}

/* Text style */
.overlay h1 {
    display: flex;
    padding-left: 340px;
    font-size: 220px;
    font-weight: 900;
    white-space: nowrap; /* keeps text in one line & forces overflow */
    letter-spacing: -1px;
    transform: scaleX(1.3);
    background: linear-gradient(to left, #DDCAF8, rgb(128,61,223)) text;
    -webkit-background-clip: text;
    color: transparent;
}

.floating{
    position: fixed;
    top: auto;
    bottom: 5px;
    transform: translateX(-50%);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F6EDFF;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 60px;
    font-size: 35px;
    margin-top: -180px;
    .versionButton,.featuredButton{
        transform: scaleX(1.3);
        background-color: rgba(129, 61, 223, 0.829);
        padding: 12px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
        box-shadow: inset 0px 0px 20px 8px rgb(181, 138, 243);
        a:hover{
            color: white;
        }
    }
    border-radius: 50px;
    box-shadow: 0px 20px 20px 3px rgba(0, 0, 0, 0.103),inset 0px 0px 20px 8px rgb(255, 255, 255);
}

.featured{
    width: 100%;
    display: flex;
    flex-direction: column; 
    color: rgb(176 120 255);
    font-size: 50px;
    padding-left: 150px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    view-timeline-name: --sectionTimeline;
    view-timeline-axis: block;

    animation: color-change 1s linear both;
    animation-timeline: --sectionTimeline;
    animation-range: entry 40% entry 100%;
    p{
        
        transform: scaleX(1.3);
        margin-top: -50px;
        font-size: 70px;
    }
    
}

@keyframes color-change {
  from { background-color: transparent; }
  to   { background-color: rgb(237, 227, 248); }
}

#card-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    position: relative;
    align-items: flex-start;
    gap: 100px;
}

.horizontal-section {
    height: 300vh;       
    position: relative;
}

.horizontal-inner {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.103);
    /* background-image: linear-gradient(to bottom right, #1c273c, #09101d); */
    width: 400px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.13),inset 0px 0px 20px 5px rgba(255, 255, 255, 0.637);
    border: solid 1px rgba(255, 255, 255, 0.692);
    position: relative;
    transition: transform 0.4s ease;
}

.tactic{
    margin-top: 30px;
    width: 400px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    img{
        width: 350px;
        height: auto;
    }
    a{
        margin-left: 25px;
        margin-right: 25px;
        color: rgba(0, 0, 0, 0.658);
        font-size: 23px;
    }
    p{  
        margin-left: 25px;
        margin-right: 25px;
        margin-top: -1px;
        color: rgba(0, 0, 0, 0.521);
        font-size: 20px;
        font-weight: normal;
    }
}

.download{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    flex-direction: column;
    width: 400px;
    height: 60px;
    background-color: rgb(176 120 255);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    a{
        font-size: 25px;
    }
    a:hover{
        color: white;
    }
}

