@font-face {
  font-family: "SohneBreitExtrafettKursiv";
  src: url("Assets/Fonts/TestSohneSchmal-Fett-BF663d89cadad5a.otf") format("opentype");
  font-weight: 900;
}


body{
    font-family: 'SohneBreitExtrafettKursiv', sans-serif;
    height: 100%;
    background-color: #151E2E;
    background-attachment: fixed;
    margin: 0;
    height: 200vh; /* allows scrolling */
    overflow-x: hidden;
}


.wrapper{
    margin: -10px;

}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    color: white;
    height: 100%;
    h1,a{
        font-size: 25px;
        transform: scaleX(1.3);
    }
    .left{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    img{
        width: 50px;    
        height: auto;
    }
}


a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a:hover{
    color: rgb(176 120 255);
    font-weight: 700;
}

/*  MOVE SIDEWAYS */
.main {
    position: sticky;
    top: 0;
    width: 200vw;
    height: 100vh;
    background-image: url(Assets/Images/Intro.png);
    opacity: 90%;
    background-size: cover;
    background-position: left center;
    display: flex;
    align-items: center;
    padding-left: 140px;
}

/* Text style */
.overlay h1 {
    display: flex;
    padding-left: 370px;
    font-size: 220px;
    font-weight: 900;
    white-space: nowrap; /* keeps text in one line & forces overflow */
    letter-spacing: -1px;
    transform: scaleX(1.3);
    background: linear-gradient(to left, #DDCAF8, rgb(128,61,223)) text;
    -webkit-background-clip: text;
    color: transparent;
}

