@font-face {
  font-family: "SohneBreitExtrafettKursiv";
  src: url("Assets/Fonts/TestSohneSchmal-Fett-BF663d89cadad5a.otf") format("opentype");
  font-weight: 900;
}


body{
    font-family: 'SohneBreitExtrafettKursiv', sans-serif;
    height: 100%;
    background-color: #151E2E;
    background-attachment: fixed;
    margin: 0;
    height: 200vh; /* allows scrolling */
    overflow-x: hidden;
}


.wrapper{
    margin: -10px;

}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    color: white;
    height: 100%;
    h1,a{
        font-size: 25px;
        transform: scaleX(1.3);
    }
    .left{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    img{
        width: 50px;    
        height: auto;
    }
}


a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a:hover{
    color: rgb(176 120 255);
    font-weight: 700;
}

/*  Move Sideways */
.hero {
    position: sticky;
    top: 0;
    width: 200vw;
    height: 100vh;
    background-image: url(Assets/Images/Intro.png);
    opacity: 85%;
    background-size: cover;
    background-position: left center;
    display: flex;
    align-items: center;
    padding-left: 140px;
}

/* Text style */
.overlay h1 {
    display: flex;
    padding-left: 340px;
    font-size: 220px;
    font-weight: 900;
    white-space: nowrap; /* keeps text in one line & forces overflow */
    letter-spacing: -1px;
    transform: scaleX(1.3);
    background: linear-gradient(to left, #DDCAF8, rgb(128,61,223)) text;
    -webkit-background-clip: text;
    color: transparent;
}

.floating{
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F6EDFF;
    display: flex;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 60px;
    font-size: 35px;
    margin-top: -180px;
    .versionButton,.featuredButton{
        transform: scaleX(1.3);
        background-color: rgb(128,61,223);
        padding: 12px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 30px;
        a:hover{
            color: white;
        }
        
    }
    border-radius: 50px;
}
