html {
    scroll-behavior: smooth;
}


@font-face {
  font-family: "SohneBreitExtrafettKursiv";
  src: url("Assets/Fonts/TestSohneSchmal-Fett-BF663d89cadad5a.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "BrotherhoodScriptFont";
  src: url("Assets/Fonts/BrotherhoodScriptFont-Regular.ttf") format("opentype");
  font-weight: 900;
}


body{
    font-family: 'SohneBreitExtrafettKursiv', sans-serif;
    height: 100%;
    background-color: #151E2E;
    background-attachment: fixed;
    margin: 0;
    height: 200vh; /* allows scrolling */
    overflow-x: hidden;
}


.wrapper{
    margin: -10px;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    color: white;
    height: 100%;   
    h1,a{
        margin-left: 40px;
        margin-right: 70px;
        font-size: 35px;
        transform: scaleX(1.3);
    }
    img{
        width: 80px;    
        height: auto;
    }
}


a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a:hover{
    color: rgb(176 120 255);
    font-weight: 700;
}

/*  Move Sideways */
.hero-scroll-area {
    height: 370vh; /* full background visible before feature appears */
}

.hero {
    position: sticky;
    top: 0;
    width: 200vw;
    height: 100vh;
    background-image: url(Assets/Images/Intro.png);
    opacity: 85%;
    background-size: cover;
    background-position: left center;
    display: flex;
    align-items: center;
    padding-left: 250px;
}

/* Text style */
.overlay h1 {
    display: flex;
    padding-left: 340px;
    font-size: 220px;
    font-weight: 900;
    white-space: nowrap; /* keeps text in one line & forces overflow */
    letter-spacing: -1px;
    transform: scaleX(1.3);
    background: linear-gradient(to left, #DDCAF8, rgb(128,61,223)) text;
    -webkit-background-clip: text;
    color: transparent;
}

.floating{
    display: flex;
    justify-content: space-evenly;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -1.3px;
    position: fixed;
    z-index: 9999999; /*to make it stay over everything*/
    /*to fix it at its position*/
    top: auto; 
    bottom: 5px;
    /*-------------------------*/
    transform: translateX(-50%);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F6EDFF;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
    font-size: 35px;
    margin-top: -180px;
    .versionButton,.featuredButton{
        background-color: rgba(129, 61, 223, 0.829);
        padding: 12px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 32px;
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.158), inset 0px 0px 20px 8px rgb(181, 138, 243);
        a:hover{
            color: white;
        }
    }

    .indexButton{
        display: flex;
        justify-content: center;
        align-items:start;
        transform: scaleX(1.2);
        background-color: rgba(129, 61, 223, 0.829);
        padding-top: 10px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 28px;
        margin-left: 10px;
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.158), inset 0px 0px 20px 8px rgb(181, 138, 243);
        a:hover{
            color: white;
        }
    }

    img{
        height: 50px;
        width: 48px;
    }
    border-radius: 52px;
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.144),inset 0px 0px 20px 8px rgb(255, 255, 255);
}

.featured{
    margin-top: -10px;
    overflow: visible;
    height: auto;
    width: 100;
    display: flex;
    flex-direction: column; 
    color: rgb(176 120 255);
    align-items: center;
    justify-content: center;
    font-weight: 700;
    view-timeline-name: --sectionTimeline;
    view-timeline-axis: block;
    padding-top: 50px;
    animation: color-change 1s linear both;
    animation-timeline: --sectionTimeline;
    animation-range: entry 30% entry 100%;
    p{
        
        transform: scaleX(1.3);
        margin-top: 10px;
        font-size: 150px;
    }    
}

@keyframes color-change {
  from { background-color: transparent; }
  to   { background-color: #F6EDFF; }
}

#card-container {
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;   /* centers group horizontally */
    align-items: flex-start;                 
    width: 100%;
    margin-left: 30px;
    margin-top: -100px;
}

/* Each individual card column */
.card-column {
    position: relative;        
    width: 620px;              
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: -50px;
}

/* Clickable colored frame */
.cardLink {
    display: block;
    width: 100%;
}

.cardImg {
    opacity: 90%;
    display: block;
    width: 100%;           
    height: auto;
    position: relative;
    z-index: 2;            
    filter: drop-shadow(-20px 15px 12px rgba(0, 0, 0, 0.267));
}

/* Inner tactic image that sits “inside” frame */
.thumbnail {
    position: absolute;
    top: 90px;                 /* adjust this to move image up/down inside frame */
    left: 50%;
    transform: translateX(-50%);
    width: 550px;              
    height: auto;
    z-index: 1;                /* under the frame */
}

.download{
    background-color: rgba(180, 180, 180, 0.384);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 25px;
    a{
        color: #151E2E;
    }
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -1px;
    border-radius: 50px;
    border: solid 2px rgba(255, 255, 255, 0.856);
    box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.082),inset 0px 0px 20px 10px rgba(255, 255, 255, 0.74);

}

.version{
    background-color: #F6EDFF;
    font-family: 'BrotherhoodScriptFont',sans-serif;
    padding: 450px 0; 
    width: 100vw;       /* ensures full background */
    overflow: visible;  /* prevents text pushing outside */
}


.FM26{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tactic-container{
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 9999;
        transform: rotateX(18deg) rotateY(12deg) rotateZ(0deg);
        transition: transform 0.4s ease;
        img{
            height: auto;
            width: 1000px;
        }
        .card1{
            position: relative;
            z-index: 2;
            transform: translateX(980px) translateY(0px);
            filter: drop-shadow(20px -10px 17px rgba(0, 0, 0, 0.301));
        }

        .card1:hover{
            position: relative;
            z-index: 2;
            transform: translateX(980px) translateY(-150px);
            filter: drop-shadow(20px -10px 17px rgba(0, 0, 0, 0.301));
        }

        .card2{
            z-index: 1;
            transform: translateX(25px) translateY(-35px);
            filter: drop-shadow(20px -10px 17px rgba(0, 0, 0, 0.301));
        }
        .card2:hover{
            z-index: 1;
            transform: translateX(25px) translateY(-185px);
            filter: drop-shadow(20px -10px 17px rgba(0, 0, 0, 0.301));
        }

        .card3{
            z-index: 0;
            transform: translateX(-930px) translateY(-65px);
            filter: drop-shadow(20px -10px 17px rgba(0, 0, 0, 0.301));
        }

        .card3:hover{
            z-index: 0;
            transform: translateX(-930px) translateY(-215px);
            filter: drop-shadow(20px -10px 17px rgba(0, 0, 0, 0.301));
        }

        .download-tactic{
            position: absolute;
            bottom: 19%;
            left: 57.5%;
            color: black;
            font-size: 38px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: #ffffff;
            border-radius: 40px;
            padding: 25px;
            padding-left: 30px;
            padding-right: 30px;
        }
        h1{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            position: absolute;
            color: white;
            bottom: 84%;
            left: 10%;
            font-size: 30px;
        }
        p{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            position: absolute;
            bottom: 43%;
            left: 57%;
            font-size: 30px;
        }
        .cardThumbnail{
            z-index: -1;
            position:absolute;
            left: 7%;
            bottom: 14%;
            img{
                height: auto;
                width: 480px;
            }
        }
    }
    .digit{
        position: relative;
        z-index: 0;
        margin-top: -540px;  
        margin-left: -20px;
    }
}

