<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel="stylesheet" href="/log-in-form.css">
</head>
<body>
  <div class="account-form">
    <h1>
      FROM THE DUGOUT. <br>
      TO YOUR GAME. <br>
    </h1>
    <p>
      Greatest tactics every played. Now your to dowload.
    </p>
    <form action="/log-in" method="POST">
      <div class="close"><a href="/"><img src="/close.svg" alt="close"></a></div>
      <fieldset>
        <label for="email"><h4>EMAIL</h4></label>
        <input id="email" name="email" type="email" placeholder="xyz@example.com" value="<%= email %>"/>
      </fieldset>
      <fieldset>
        <label for="password"><h4>PASSWORD</h4></label>
        <div class="password-wrapper">
          <input id="password" name="password" type="password" placeholder="••••••••••"/>
          <button type="button" class="toggle" onclick="togglebutton('password')"><img src="/eye-outline.svg" alt="see-password"></button>
        </div>

        <!-- implement forgot password -->
        <a href="/account-recovery" class="account-recovery">Forgot password?</a>
        
        <% if (error) { %>
          <div class="error-message">
            <img src="/alert-rhombus.svg" alt="alert">
            <p><%= error %></p>
          </div>
        <% } %>
      
      </fieldset>
      
      <fieldset class="buttons">
        <div class="access-buttons">
          <a href="/sign-up">Create account</a>
          <button type="submit">Log in</button>
        </div>
        <a href="/login/google" class="sign-in-google"><img src="/Google__G__logo.svg.webp" alt="google-logo">Continue with Google</a>
      </fieldset>
     </form>
  </div>
  <script>
    function togglebutton(inputId){
      const input = document.getElementById(inputId);
      const img=document.querySelector('.toggle img')
      
      input.type = input.type==="password" ? 'text' : 'password';
      img.src = input.type === 'password' ? '/eye-outline.svg' : '/eye-off-outline.svg';
    }
  </script>
</body>
</html>