<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/sign-up-form.css">
</head>
<body>
  <div class="account-form">
    <h1>
      CREATE ACCOUNT
    </h1>
    <p>
      Join FM Tactic Hub today. Read threads. Download tactics.
    </p>
    <form action="/sign-up" method="POST">
      <div class="close"><a href="/"><img src="/close.svg" alt="close"></a></div>
      <fieldset>
        <label for="username"><h4>USERNAME</h4></label>
        <input id="username" name="username" type="text" placeholder="xyz123" value="<%= username %>"/>
      </fieldset>
      <fieldset>
        <label for="email"><h4>EMAIL</h4></label>
        <input id="email" name="email" type="email" placeholder="xyz@example.com" value="<%= email %>"/>
      </fieldset>
      <fieldset class="password">
        <label for="password"><h4>PASSWORD</h4></label>
        <input id="password" name="password" type="password" placeholder="••••••••••"/>

        <div class="eye-button-password"><button type="button" class="toggle" onclick="togglebutton('password')"><img src="/eye-outline.svg" alt="see-password"></button></div>
      
      </fieldset>
      <fieldset class="passwordConfirm">
        <label for="confirmPassword"><h4>CONFIRM PASSWORD</h4></label>
        <input id="confirmPassword" name="confirmPassword" type="password" placeholder="••••••••••"/>

        <div class="eye-button-confirmPassword"><button type="button" class="toggle" onclick="togglebutton('confirmPassword')"><img src="/eye-outline.svg" alt="see-password"></button></div>

      </fieldset>
      <% if (error) { %>
          <div class="error-message">
            <img src="/alert-rhombus.svg" alt="alert">
            <p><%= error %></p>
          </div>
        <% } %>
      <fieldset class="buttons">
        <div class="access-buttons">
          <a href="/log-in">Log in</a>
          <button type="submit">Sign up</button>
        </div>
        <a href="/login/google" class="sign-in-google"><img src="/Google__G__logo.svg.webp" alt="google-logo">Sign up with Google</a>
      </fieldset>
     </form>
  </div>
  <script>
    function togglebutton(inputId){
      const input = document.getElementById(inputId);
      const img=document.querySelector('.toggle img')
      
      input.type = input.type==="password" ? 'text' : 'password';
      img.src = input.type === 'password' ? '/eye-outline.svg' : '/eye-off-outline.svg';
    }
  </script>
</body>
</html>

