.folder-layer--3,
.folder-layer--2,
.folder-layer--1 {
  position: absolute;
  inset: 8px;
  border-radius: 2rem;
  border-top-right-radius: 0;
  transition: all 0.3s ease;
  transform-origin: bottom;
  user-select: none;
}

.folder-layer--3::before,
.folder-layer--2::before,
.folder-layer--1::before {
  position: absolute;
  box-sizing: border-box;
  content: '';
  bottom: 99%;
  right: 0;
  width: 280px;
  height: 32px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.folder-layer--1 { background: linear-gradient(1deg,rgb(17,16,18),rgb(17,16,18),rgb(49, 44, 56)); z-index: 1;}
.folder-layer--1::before { background-color: rgb(49, 44, 56); }

.folder-layer--2 { background: linear-gradient(1deg,rgb(36,34,40),rgb(36,34,40),rgb(72, 65, 83)); z-index: 2; }
.folder-layer--2::before { background-color: rgb(72, 65, 83); }

.folder-layer--3 { background: linear-gradient(1deg,rgb(50,48,55),rgb(50,48,55),rgb(96, 87, 108)); z-index: 3; }
.folder-layer--3::before { background-color: rgb(96, 87, 108); }

.folder-layer{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(82, 79, 85);
  border-radius: 40px;
  margin: 0.3vw 0.3vw;
  padding: 4vh 1.2vw 2.5vh 0.5vw;
  box-shadow:
    inset 0 3px 15px rgba(0,0,0,0.7),
    inset 0 1px 2px rgba(0,0,0,0.2),
    0 1px 0 rgba(255,255,255,0.04);
}

.folder-layer::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 40px;
  background: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 4px,
    rgba(0,0,0,0.07) 4px,
    rgba(0,0,0,0.07) 8px
  );
}

.folder-layer--version {
  position: relative;
  width: 465px;
  height: 310px;
  inset: 8px;
  border-radius: 2rem;
  border-top-right-radius: 0;
  transition: all 0.3s ease;
  transform-origin: bottom;
  user-select: none;
  cursor: pointer;
}

.folder-layer--version:hover {
  box-shadow: 0 0px 50px rgba(0, 0, 0, 0.4);
}

.folder-layer--version::before {
  position: absolute;
  content: '';
  bottom: 100%;
  right: 0;
  width: 280px;
  height: 32px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom: none;
}

.folder-layer--version { background: linear-gradient(1deg,rgb(17,16,18),rgb(17,16,18),rgb(49, 44, 56)); z-index: 4; }
.folder-layer--version::before { background-color:rgb(49, 44, 56); }


/* --- TACTIC CARD CONTENT --- */
.tactic-card {
  color: white;
  translate: 0px -30px;
  width: 450px;
  height: 320px;
  display: grid;
  grid-template-columns: 200px 250px;
  grid-template-rows: 38px 282px;
}

.tactic-card__title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tactic-card__info {
  box-sizing: border-box;
  padding: 10px;
  padding-left: 15px;
  width: 450px;
  height: 298px;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: grid;
  gap: 5px;
  grid-template-columns: 330px 130px;
  grid-template-rows: 1fr;
}

.tactic-card__image {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 325px;
  height: auto;
}

.tactic-card__thumbnail-overlay {
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  width: 325px;
  height: 269px;
  border: 1px solid rgb(73, 73, 73);
  border-top: 2px solid rgb(73, 73, 73);
  border-left: 2px solid rgb(73, 73, 73);
  box-shadow:
    inset 0px 0px 2px 3px rgba(0, 0, 0, 0.35),
    inset 0px 0px 15px 5px rgba(120, 120, 120, 0.7);
}

.tactic-card__meta {
  padding-bottom: 15px;
  font-size: 0.7rem;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1px;
}

.tactic-card__meta p {
  padding-top: 5px;
  font-size: 0.75rem;
  margin: 0;
}

.tactic-card_desc{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tactic-card__actions {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.tactic-card__actions a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tactic-card__actions button {
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  background: linear-gradient(5deg,rgb(212, 212, 212));
  box-shadow: inset 0px 0px 5px 3px #ffffff;
  border-radius: 10px;
}

.tactic-card__actions img {
  width: 20px;
  height: auto;
}


/* Tablet */
@media (max-width: 1024px) {

  .folder-layer .folder-layer--version {
    width: 380px;
    height: 254px;
  }

  .folder-layer .folder-layer--version::before {
    width: 220px;
    height: 28px;
  }

  .folder-layer .tactic-card {
    width: 365px;
    height: 262px;
    translate: 0px -24px;
    grid-template-columns: 160px 205px;
    grid-template-rows: 32px 230px;
  }

  .folder-layer .tactic-card__title {
    font-size: 1.1rem;
  }

  .folder-layer .tactic-card__info {
    width: 365px;
    height: 244px;
    padding: 8px 8px 8px 12px;
    grid-template-columns: 268px 97px;
  }

  .folder-layer .tactic-card__image {
    width: 263px;
  }

  .folder-layer .tactic-card__thumbnail-overlay {
    width: 263px;
    height: 220px;
  }

  .folder-layer .tactic-card__meta {
    font-size: 0.65rem;
  }

  .folder-layer .tactic-card__meta p {
    padding-top: 2px;
    font-size: 0.55rem;
    margin: 0;
  }

  .folder-layer .tactic-card__actions {
    padding-left: 0px;
  }
}


/* Mobile */
@media (max-width: 580px) {
  .folder-layer{
    margin: 0.3vw 0.3vw;
    padding: 3.3vh 5vw 2.5vh 3.7vw;
  }

  .folder-layer--1,
  .folder-layer--2,
  .folder-layer--3{
    box-shadow: none !important;
  }

  .folder-layer .folder-layer--version {
    width: 265px;
    height: 170px;
    border-radius: 1.5rem;
    border-top-right-radius: 0;
    margin-left: -2.5vw;
  }

  .folder-layer .folder-layer--version::before {
    width: 155px;
    height: 24px;
  }

  .folder-layer .tactic-card {
    width: 254px;
    height: 196px;
    translate: 0px -18px;
    grid-template-columns: 112px 142px;
    grid-template-rows: 26px 170px;
  }

  .folder-layer .tactic-card__title {
    font-size: 0.85rem;
    margin-top: 0.3vh;
    margin-right: -3vw;
    font-weight: 500;
  }

  .folder-layer .tactic-card__info {
    width: 254px;
    height: 178px;
    padding: 2px 6px 6px 8px;
    grid-template-columns: 186px 68px;
  }

  .folder-layer .tactic-card__image {
    width: 182px;
    border-radius: 15px;
  }

  .folder-layer .tactic-card__thumbnail-overlay {
    width: 182px;
    height: 152px;
  }

  .folder-layer .tactic-card__meta {
    font-size: 0.55rem;
    margin-left: -0.5px;
    padding-left: 0px;
    padding-bottom: 20px;
  }

  .folder-layer .tactic-card_desc{
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .folder-layer .tactic-card__actions {
    gap: 6px;
  }

  .folder-layer .tactic-card__actions button {
    width: 24px;
    height: 24px;
    border-radius: 7px;
  }

  .folder-layer .tactic-card__actions img {
    width: 14px;
  }
}