.container {
  scroll-snap-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: fit-content;
  padding: 100px;
  padding-bottom: 0;
  transition: opacity 0.4s ease;
}

.container.inactive {
  opacity: 0;
  pointer-events: none;
}

.container::scroll-marker{
  content: "";
  height: 0.5em;
  width: 4em;
  border-radius: 5em;
  background-color: rgba(0, 0, 0, 0.3);
}

.container::scroll-marker:target-current{
  background-color: rgba(129, 61, 223, 0.83);
}

.file {
  position: relative;
  width: 480px;
  height: 320px;
  cursor: pointer;
  transform-origin: bottom;
  perspective: 3000px;
  z-index: 10;
}

.work-5 {
  background-color: #c76c04e1;
  width: 100%;
  height: 100%;
  transform-origin: top;
  border-radius: 2rem;
  border-top-left-radius: 0;
  transition: all 0.3s ease;
  position: relative;
}

.work-5::after {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 160px;
  height: 32px;
  background-color: #c76c04e1;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.work-4, .work-3, .work-2 {
  position: absolute;
  inset: 8px;
  border-radius: 2rem;
  border-top-right-radius: 0;
  transition: all 0.3s ease;
  transform-origin: bottom;
  user-select: none;
}

.work-4::before, .work-3::before, .work-2::before {
  position: absolute;
  content: '';
  bottom: 99%;
  right: 0;
  width: 280px;
  height: 32px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.work-4 { background-color: #3a3a3a; z-index: 2; }
.work-4::before { background-color: #3a3a3a; }

.work-3 { background-color: #2a2a2a; z-index: 3; }
.work-3::before { background-color: #2a2a2a; }

.work-2 { background-color: #1a1a1a; z-index: 4; }
.work-2::before { background-color: #1a1a1a; }

.work-1 {
  z-index: 5;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, #f59f0bc9, #fbbe24c9);
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  transition: all 0.3s ease;
  transform-origin: bottom;
  display: flex;
  align-items: flex-end;
  box-shadow: inset 0 40px 80px #fbbe24af, inset 0 -40px 80px #d97706b9;
}

.file:hover .work-5 {
  box-shadow: 0 40px 80px rgba(0,0,0,.2);
}

.file:hover .work-4 { transform: rotateX(-20deg); }
.file:hover .work-3 { transform: rotateX(-30deg); }
.file:hover .work-2 { transform: rotateX(-38deg); }

.file:hover .work-1 {
  box-shadow: inset 0 40px 80px #fbbf24, inset 0 -40px 80px #d97706;
  transform: rotateX(-46deg) translateY(2px);
}

.hover-text {
  margin: 60px 0px 20px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  opacity: 0.8;
}

.hover-text a{
  color: #000000;
}

.elements{
  color: white;
  translate: 0px -30px;
  width: 450px;
  height: 320px;
  display: grid;
  grid-template-columns: 200px 250px;
  grid-template-rows: 38px 282px;
}

.title{
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elements .information{
  box-sizing: border-box;
  padding: 10px;
  padding-left: 15px;
  width: 450px;
  height: 298px;
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  gap: 5px;
  grid-template-columns: 330px 130px;
  grid-template-rows: 1fr;
}

img{
  position: relative;
  z-index: 1;
  border-radius: 20px;
  grid-row: 1/2;
  grid-column: 1/2;
  width: 325px;
  height: auto;
}

.thumbnail{
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  width: 325px;
  height: 269px;
  border: 1px solid rgb(73, 73, 73);
  border-top: 2px solid rgb(73, 73, 73);
  border-left: 2px solid rgb(73, 73, 73);
  box-shadow: 
  inset 0px 0px 2px 3px rgba(0, 0, 0, 0.432),
  inset 0px 0px 15px 5px rgba(120, 120, 120, 0.795)
}

.text{
  padding-bottom: 15px;
  font-size: 0.7rem;
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8px;
}

.text p{
  margin: 0;
}

.buttons{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.buttons a{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttons img{
  width: 20px;
  height: auto;
}

button{
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  border-radius: 10px;
}