.detialed-view{
    margin: 5px;
    position:fixed;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-color: #F6EDFF;
    overflow-y: scroll;
    width: 99.5%;
    height: 96%;
    border-radius: 60px 60px 0px 0px;
    bottom: 0;
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.589);
}

.detialed-view::-webkit-scrollbar{
    display: none;
}

.detialed-view.detialed-view--inactive{
    display: none;
}

.version-title{
    margin-top: 4vh;
    font-size: 80px;
}

.version-title span{ 
    color: rgb(176 120 255);
}

.card-Collection{
    padding: 0 0 4vh 0;
    scale: 1.1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}