/* --- SITE HEADER BAR --- */
.site-header-wrapper {
    width: 100%;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.site-header h1,
.site-header a {
    display: flex;
    flex-shrink: 0;
    margin: 0 70px;
    font-size: 45px;
    transform: scaleX(1.3);
}

@media (max-width: 1000px) {
    body::-webkit-scrollbar {
        display: none;
    }

    .site-header-wrapper {
        display: flex;
        justify-content: center;
        margin-left: -25px;
    }

    .site-header h1,
    .site-header a {
        font-size: 20px;
    }

    a:hover {
        color: rgb(176 120 255);
    }
}

/* --- HERO SECTION --- */
.hero-scroll-area {
    height: 110vh;
}

.hero-banner {
    position: sticky;
    top: 0;
    width: 225vw;
    height: 100vh;
    background-image: url(../assets/Images/Intro.png);
    opacity: 0.85;
    background-size: cover;
    background-position: center center;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-overlay h1 {
    font-size: 12vw;
    font-weight: 900;
    letter-spacing: -1px;
    transform: scaleX(1.3);
    background: linear-gradient(to left, #DDCAF8, rgb(128, 61, 223));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media (max-width: 1000px) {
    .hero-scroll-area {
        margin-top: -20px;
        height: 320vh;
        margin-left: 0;
        overflow: hidden;
    }

    .hero-banner {
        width: 830vw;
        background-size: 90%;
        background-position: left center;
        background-repeat: no-repeat;
        will-change: transform;
    }

    .hero-overlay h1 {
        font-size: 40vw;
        margin-left: -350px;
        text-align: center;
    }
}
