.folder-layer,
.folder-layer--3,
.folder-layer--2,
.folder-layer--1 {
  position: absolute;
  inset: 8px;
  border-radius: 2rem;
  border-top-right-radius: 0;
  transition: all 0.3s ease;
  transform-origin: bottom;
  user-select: none;
}

.folder-layer--3::before,
.folder-layer--2::before,
.folder-layer--1::before {
  position: absolute;
  box-sizing: border-box;
  content: '';
  bottom: 99%;
  right: 0;
  width: 280px;
  height: 32px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.folder-layer--1 { background: linear-gradient(1deg,rgb(17,16,18),rgb(17,16,18),rgb(49, 44, 56)); z-index: 1;}
.folder-layer--1::before { background-color: rgb(49, 44, 56); }

.folder-layer--2 { background: linear-gradient(1deg,rgb(36,34,40),rgb(36,34,40),rgb(72, 65, 83)); z-index: 2; }
.folder-layer--2::before { background-color: rgb(72, 65, 83); }

.folder-layer--3 { background: linear-gradient(1deg,rgb(50,48,55),rgb(50,48,55),rgb(96, 87, 108)); z-index: 3; }
.folder-layer--3::before { background-color: rgb(96, 87, 108); }

.folder-layer--version {
  position: relative;
  width: 465px;
  height: 310px;
  margin: 2vw 1vw;
  inset: 8px;
  border-radius: 2rem;
  border-top-right-radius: 0;
  transition: all 0.3s ease;
  transform-origin: bottom;
  user-select: none;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2);
}

.folder-layer--version::before {
  position: absolute;
  content: '';
  bottom: 99%;
  right: 0;
  width: 280px;
  height: 32px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.folder-layer--version {  background: linear-gradient(1deg,rgb(17,16,18),rgb(17,16,18),rgb(49, 44, 56)); z-index: 4; }
.folder-layer--version::before { background-color:rgb(49, 44, 56); }


/* --- TACTIC CARD CONTENT --- */
.tactic-card {
  color: white;
  translate: 0px -30px;
  width: 450px;
  height: 320px;
  display: grid;
  grid-template-columns: 200px 250px;
  grid-template-rows: 38px 282px;
}

.tactic-card__title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- TACTIC CARD INFO ROW --- */
.tactic-card__info {
  box-sizing: border-box;
  padding: 10px;
  padding-left: 15px;
  width: 450px;
  height: 298px;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: grid;
  gap: 5px;
  grid-template-columns: 330px 130px;
  grid-template-rows: 1fr;
}

/* --- THUMBNAIL --- */
.tactic-card__image {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 325px;
  height: auto;
}

.tactic-card__thumbnail-overlay {
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  width: 325px;
  height: 269px;
  border: 1px solid rgb(73, 73, 73);
  border-top: 2px solid rgb(73, 73, 73);
  border-left: 2px solid rgb(73, 73, 73);
  box-shadow:
    inset 0px 0px 2px 3px rgba(0, 0, 0, 0.35),
    inset 0px 0px 15px 5px rgba(120, 120, 120, 0.7);
}

/* --- META TEXT --- */
.tactic-card__meta {
  padding-bottom: 15px;
  font-size: 0.7rem;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8px;
}

.tactic-card__meta p {
  margin: 0;
}

/* --- ACTION BUTTONS --- */
.tactic-card__actions {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.tactic-card__actions a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tactic-card__actions button {
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  background: linear-gradient(5deg,rgb(212, 212, 212));
  box-shadow: inset 0px 0px 5px 3px #ffffff;
  border-radius: 10px;
}

.tactic-card__actions img {
  width: 20px;
  height: auto;
}
