/* --- TACTIC DASHBOARD / VERSION SECTION --- */
.tactic-section {
    width: 100%;
    padding: 150px 0px;
    z-index: -2;
    transform: translateZ(0);
    background-color: #F6EDFF;
    display: flex;
    justify-content: center;
    align-items: center;

    view-timeline-name: --sectionTimeline;
    view-timeline-axis: block;
    animation: tactic-section-fade-in 1s linear both;
    animation-timeline: --sectionTimeline;
    animation-range: entry 10% entry 100%;
}

@keyframes tactic-section-fade-in {
    from { background-color: transparent; }
    to   { background-color: #F6EDFF; }
}

/* --- FOLDERS CAROUSEL --- */
.folders-carousel {
    scale: 1.2;
    width: 100%;
    overflow-x: auto;
    display: flex;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    padding: 0 calc(50% - 250px);
    scroll-marker-group: after;
}

.folders-carousel::scroll-marker-group {
    position: absolute;
    z-index: -1;
    width: 620px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    gap: 0.5em;
}

.folders-carousel::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1000px) {
    .tactic-section {
        margin-top: -1900px;
    }
}

.edition-detail-panel {
    position: fixed;
    z-index: 9999;
    inset: 0;
}

.edition-detail-panel-btn{
    padding: 10px 20px;
    position: absolute;
    z-index: 99999;
    border: none;
    border-radius: 15px;
    background-color: rgb(176 120 255);
    color: white;
    top: 60px;
    right: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.edition-detail-panel-btn h2{
    font-size: 20px;
    margin: 0;
}

.edition-detail-panel-btn:hover {
    background-color: black;
}



